<div class="box">
	<h1 class="title">ポストマンの<br>10秒トレーニング</h1>
	<p class="about-message">ゼルダの伝説ムジュラの仮面のあのミニゲームを再現してみました。</p>
	<img id="illust" src="/assets/tensecond.png">
	<%= link_to "はい", postman_path, class: "btn btn-primary" %>
</div>